# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environments
.env
venv/
.venv/

# Raw data
/data/
/results/raw/

# Notebooks
/notebooks/

# Prompts
/prompts/

# VS Code
.vscode/

# References (papers)
/references/

# OS
.DS_Store
Thumbs.db