# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environments
.env
venv/
.venv/

# data
/data/

# results
/results/

# Notebooks
/notebooks/

# Prompts
/prompts/

# VS Code
.vscode/

# References (papers)
/references/

# OS
.DS_Store
Thumbs.db